@import "node_modules/bootstrap/scss/bootstrap";

$dc-primary: #0282F9;
$dc-banner-bg: #1C1C1C;
$dc-footer-bg: #303030;
$dc-text-dark: #464646;
$dc-text-white: #FFFFF2;
$dc-text-grey: #797777;

.text-white{
    color: white;
}

.site_header{

    .top-banner{
        background-color: $dc-primary;
    }

    nav{
        height: 112px;

        .marked{
            color: $dc-primary;
            border-bottom: 4px solid $dc-primary;
        }

    }

    .logo{
        width: 80px;
    }

    .nav-links{

        a{
            text-decoration: none;
            color: $dc-text-dark; 
            font-weight: 600;

            .arrow-down{
                color: $dc-primary;
            }
        }
        
    }

    .searchbar{
    
        border-bottom: 2px solid $dc-primary;

        input{
            border: none;
            text-align: right;
        }
    }

    .jumbo{
        background-image: url('/img/jumbotron.jpg');
        background-size: cover;
        height: 40vh;
    }
}

.site_main{
    .comic-thumb{
        height: 200px;
        width: 200px;
    }

    .comic-section{
        background-color: $dc-banner-bg;
        color: white;
        position: relative;

        .series{
            background-color: $dc-primary;
            position: absolute;
            bottom: 96%;
            padding: 0.5rem 1.5rem;
            font-weight: bold;
            font-size: 25px;
        }

        .load-btn{
            background-color: $dc-primary;
            padding: 0.8rem 3rem;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
}




